<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- form method must be post --}}
    <form method="post">
        {{!-- name of form attribute --}}
        <label>Title: </label>
        {{!-- input type & name of this input to be called later --}}
        <input type="text" name="title"/>
        <label>Plot: </label>
        <input type="text" name="plot"/>   
        {{!-- submit button must be before closing form --}}
        <input type="submit"/>
    {{!-- remember to close form --}}
    </form>
</body>
</html>