<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each movies}}
    <li>Title:{{this.title}}</li>
    <li>Plot:{{this.plot}}</li>
    <br>
    {{/each}}
</body>
</html>